<%- include('../common/head.html', {title: '管理项目'}) %>
<!--selfCss start-->
<link rel="stylesheet" href="/style/css/index.css">
<!--selfCss end-->
</head>
<body>
<!--header start-->
<%- include('../common/header.html', {menu: 'pro'}) %>
<!--header end-->

<div class="index-projects min-width" style="padding-top: 145px;">

    <div class="index-title2">
        <div class="content">
            <h1 class="con f20">管理项目</h1>
            <h2 class="f10">MANAGE PROJECT</h2>
        </div>
    </div>

    <div id="project-list" class="project-list">
        <% data.data.forEach(function(items){ %>
        <div class="project">
            <a href="/Project/detail?id=<%= items.id%>" class="link clearfix">
                <div class="img pull-left"><img src="<%=servers.imgUrl%><%=items.cover%>" alt=""></div>

                <div class="content pull-left">
                    <div class="title"><%=items.title%></div>

                    <ul class="msg-list clearfix">
                        <li class="item">
                            <div class="tit">地块位置</div>
                            <div class="con"><%=items.region%></div>
                        </li>
                        <li class="item">
                            <div class="tit">地块编号</div>
                            <div class="con"><%=items.land_code%></div>
                        </li>
                        <li class="item">
                            <div class="tit">地块面积</div>
                            <div class="con"><%=items.land_area%> m<sup>2</sup></div>
                        </li>
                        <li class="item">
                            <div class="tit">容积率</div>
                            <div class="con"><%=items.ratio%></div>
                        </li>
                        <li class="item">
                            <div class="tit">绿化率</div>
                            <div class="con"><%=items.green%></div>
                        </li>
                        <li class="item">
                            <div class="tit">建筑密度</div>
                            <div class="con"><%=items.built_density%></div>
                        </li>

                    </ul>
                </div>
            </a>
        </div>
        <% }) %>
    </div>
    <!--页码-->
    <%if(data.last_page>1){%>
    <div class="page-box mt60">
        <div id="page"></div>
    </div>
    <%}%>
</div>

<!--footer start-->
<%include ../common/footer.html %>
<!--footer end-->

<script src="/style/js/addons/layui/layui.js"></script>
<script>
    $(function () {
        /**分页**/
        layui.use('laypage', function () {
            var laypage = layui.laypage;
            laypage.render({
                elem: 'page'
                , count: '<%=data.total%>'
                , limit: '<%=data.per_page%>'
                , groups: 10
                , prev: '<em> < </em>'
                , next: '<em> > </em>'
                , theme: 'own'
                , last: '尾页'
                , jump: function (obj, first) {
                    var cur = obj.curr;
                    if(!first){
                        ajax_page(cur);
                    }
                }
            });

            function ajax_page(cur) {
                $.post('/Project/page_post', {
                    'page': cur
                }, function (data) {
                    if(data.code==1){
                        var datas = data.data;
                        var html = '';

                        datas.forEach(function (items) {
                            html += '<div class="project">\n' +
                                '            <a href="/Project/detail?id=' + items.id + '" class="link clearfix">\n' +
                                '                <div class="img pull-left"><img src="<%=servers.imgUrl%>' + items.cover + '" alt=""></div>\n' +
                                '\n' +
                                '                <div class="content pull-left">\n' +
                                '                    <div class="title">' + items.title + '</div>\n' +
                                '\n' +
                                '                    <ul class="msg-list clearfix">\n' +
                                '                        <li class="item">\n' +
                                '                            <div class="tit">地块位置</div>\n' +
                                '                            <div class="con">' + items.address + '</div>\n' +
                                '                        </li>\n' +
                                '                        <li class="item">\n' +
                                '                            <div class="tit">地块编号</div>\n' +
                                '                            <div class="con">' + items.land_code + '</div>\n' +
                                '                        </li>\n' +
                                '                        <li class="item">\n' +
                                '                            <div class="tit">地块面积</div>\n' +
                                '                            <div class="con">' + items.land_area + ' m<sup>2</sup></div>\n' +
                                '                        </li>\n' +
                                '                        <li class="item">\n' +
                                '                            <div class="tit">容积率</div>\n' +
                                '                            <div class="con">' + items.ratio + '</div>\n' +
                                '                        </li>\n' +
                                '                        <li class="item">\n' +
                                '                            <div class="tit">绿化率</div>\n' +
                                '                            <div class="con">' + items.green + '</div>\n' +
                                '                        </li>\n' +
                                '                        <li class="item">\n' +
                                '                            <div class="tit">建筑密度</div>\n' +
                                '                            <div class="con">' + items.built_density + '</div>\n' +
                                '                        </li>\n' +
                                '\n' +
                                '                    </ul>\n' +
                                '                </div>\n' +
                                '            </a>\n' +
                                '        </div>';
                        })

                        $('#project-list').html(html);
                    }
                })
            }
        });
    })
</script>
</body>
</html>