<!DOCTYPE html>
<html lang="en">
<head>
  <%include common/head.html %>

  <!--selfCss start-->
  <link rel="stylesheet" href="/style/css/index.css">
  <!--selfCss end-->
</head>
<body>
<!--header start-->
<div class="index-head min-width">
  <header class="header min-width">
    <div class="top clearfix">
      <%if(!is_login){%>
      <div class="before pull-right">
        <a href="/Public/login">登陆</a>
        <a href="/Public/reg">注册</a>
      </div>
      <%}else{%>
      <!--登陆后-->
      <div class="after pull-right">
        <div class="menu-box">
          <span class="icon"></span>
          <ul class="menu-list">
            <li class="item">
              <a href="/User" class="icon ico1">个人中心</a>
            </li>
            <li class="item">
              <a href="/Public/login" class="icon ico2">退出</a>
            </li>
          </ul>
        </div>
      </div>
      <%}%>
    </div>
    <div class="nav clearfix">
      <a href="/" class="pull-left">
        <img src="/style/images/public/logo.png" alt="">
        <img class="ml40" src="/style/images/public/logo_name.png" alt="">
      </a>

      <div class="menu pull-right">
        <a class="item active" href="/">首页</a>
        <a class="item" href="/Project">管理项目</a>
        <a class="item" href="#">关于我们</a>
      </div>
    </div>

  </header>
</div>
<!--header end-->

<div class="index-title1">
  <span>专注房地产开发管理</span>
  <span class="ml30">为客户创造最大利益</span>
</div>

<div class="index-teams">
  <ul class="teams-list clearfix">
    <li class="item">
      <a class="link" href="#">
        <div class="img"><img src="/style/images/img/a_con101.png" alt=""></div>
        <div class="tit">专业科技团队</div>
        <div class="en">MANAGEMENT TEAM</div>
      </a>
    </li>
    <li class="item">
      <a class="link" href="#">
        <div class="img"><img src="/style/images/img/a_con102.png" alt=""></div>
        <div class="tit">专业销售团队</div>
        <div class="en">SALES TEAM</div>
      </a>
    </li>
    <li class="item">
      <a class="link" href="#">
        <div class="img"><img src="/style/images/img/a_con103.png" alt=""></div>
        <div class="tit">专业物业团队</div>
        <div class="en">PROPERTY TEAM</div>
      </a>
    </li>
    <li class="item">
      <a class="link" href="#">
        <div class="img"><img src="/style/images/img/a_con104.png" alt=""></div>
        <div class="tit">专业科技团队</div>
        <div class="en">TECHLNOLOGY TEAM</div>
      </a>
    </li>
  </ul>
</div>

<div class="index-projects min-width">

  <div class="index-title2">
    <div class="content">
      <h1 class="con f20">管理项目</h1>
      <h2 class="f10">MANAGE PROJECT</h2>
    </div>
  </div>

  <div class="link-more clearfix  ">
    <a class="pull-right" href="/Project">查看更多</a>
  </div>

  <div class="project-list">
    <% data.forEach(function(items){ %>
    <div class="project">
      <a href="/Project/detail?id=<%= items.id%>" class="link clearfix">
        <div class="img pull-left"><img src="http://res.2.fjhok.com/res/image/<%=items.cover%>" alt=""></div>

        <div class="content pull-left">
          <div class="title"><%=items.title%></div>

          <ul class="msg-list clearfix">
            <li class="item">
              <div class="tit">地块位置</div>
              <div class="con"><%=items.address%></div>
            </li>
            <li class="item">
              <div class="tit">地块编号</div>
              <div class="con"><%=items.land_code%></div>
            </li>
            <li class="item">
              <div class="tit">地块面积</div>
              <div class="con"><%=items.land_area%> m<sup>2</sup></div>
            </li>
            <li class="item">
              <div class="tit">容积率</div>
              <div class="con"><%=items.ratio%></div>
            </li>
            <li class="item">
              <div class="tit">绿化率</div>
              <div class="con"><%=items.green%></div>
            </li>
            <li class="item">
              <div class="tit">建筑密度</div>
              <div class="con"><%=items.built_density%>%</div>
            </li>

          </ul>
        </div>
      </a>
    </div>
    <% }) %>
  </div>

  <div class="project-more">
    <a href="#">MANAGE PROJECT</a>
  </div>
</div>

<div class="index-partners hide">
  <div class="title">
    <div class="f20">合作伙伴</div>
    <div class="f10 yellow-light">PARTENERS</div>
  </div>

  <div class="partner-list clearfix">
    <a class="item" href="#"></a>
    <a class="item" href="#"></a>
    <a class="item" href="#"></a>
    <a class="item" href="#"></a>
    <a class="item" href="#"></a>
    <a class="item" href="#"></a>
    <a class="item" href="#"></a>
    <a class="item" href="#"></a>
    <a class="item" href="#"></a>
    <a class="item" href="#"></a>
    <a class="item" href="#"></a>
    <a class="item" href="#"></a>
  </div>
</div>

<!--header start-->
<%include common/footer.html %>
<!--header end-->
<script>
    $(function(){
    })
</script>
</body>
</html>