<!DOCTYPE html>
<html lang="en">
<head>
    <%include ../common/head.html %>

    <!--selfCss start-->
    <link rel="stylesheet" href="/style/css/project.css">
    <!--selfCss end-->
</head>
<body>
<!--header start-->
<%include ../common/header.html %>
<!--header end-->

<div id="project-intention">
    <div class="crumbs mt40">
        <a href="#">房计划地产首页 </a> >
        <a href="#">管理项目 </a> >
        <a href="#">邻水县西部新城A-01地块 </a> >
        <span>意向报名 </span>
    </div>

    <div class="intention-msg">
        <h1 class="f20 txt-center mt30">邻水县西部新城A-01地块</h1>
        <div class="horizontal-line"></div>
        <ul class="msg-list clearfix">
            <li class="item item1">
                <div class="tit">预计收益率</div>
                <div class="con">40%</div>
            </li>
            <li class="item item2">
                <div class="tit">预计收益率</div>
                <div class="con">2000,000,000.00</div>
            </li>
        </ul>
    </div>

    <h1 class="f16 txt-center mt40">选择入股金额（元）</h1>

    <div class="intention-money">
        <div class="money-box clearfix">
            <label class="check-label">
                <input class="check-input" type="radio" name="money" checked>
                <div class="money">10000~50000</div>
            </label>
            <label class="check-label">
                <input class="check-input" type="radio" name="money">
                <div class="money">10000~50000</div>
            </label>
            <label class="check-label">
                <input class="check-input" type="radio" name="money">
                <div class="money">10000~50000</div>
            </label>
            <label class="check-label">
                <input class="check-input" type="radio" name="money">
                <div class="money">10000~50000</div>
            </label>
            <label class="check-label">
                <input class="check-input" type="radio" name="money">
                <div class="money">10000~50000</div>
            </label>
            <label class="check-label">
                <input class="check-input" type="radio" name="money">
                <div class="money">10000~50000</div>
            </label>
        </div>
    </div>

    <button class="btn">确认</button>
</div>



<!--footer start-->
<%include ../common/footer.html %>
<!--footer end-->
<script>
    $(function(){

    })
</script>
</body>
</html>