<%- include('../common/head.html', {title: '个人中心-参与项目-销售详情'}) %>
<!--selfCss start-->
<link rel="stylesheet" href="/style/css/userpro.css">
<!--selfCss end-->
</head>
<body>
<!--header start-->
<%- include('../common/uheader.html') %>
<!--header end-->

<div class="user-project-wrap min-width">
    <div class="user-crumbs clearfix">
        <div class="crumbs mt20 pull-right">
            <a href="/">房计划地产首页 </a> >
            <a href="/User">个人中心 </a> >
            <span>参与项目详情 </span>
        </div>
    </div>

    <div id="project-sales-detail" class="user-project-container mt20">
        <%if(data.content){%>
        <div class="text-box">
            <%=data.content%>
        </div>
        <%}else if(data.images){%>
        <div class="project-imgs clearfix">
            <ul id="project-imgs" class="img-list">
                <% if(data.images){data.images.forEach(function(item){%>
                <li class="item"><img src="<%=servers.imgUrl%><%=item.path%>" alt="<%=item.title%>"></li>
                <%})}%>
            </ul>
        </div>
        <%}else{%>
        <div class="text-box">
            暂时没有内容
        </div>
        <%}%>

        <a href="javascript:history.go(-1)" class="btn-back">返回</a>
    </div>
</div>

<script src="/style/js/addons/layui/layui.js"></script>
<script>
    $(function () {
        layui.use('layer', function () {
            var layer = layui.layer;

            /**图片弹出层**/
            layer.photos({
                photos: '#project-imgs'
                , anim: 0
            });
        })
    })
</script>
</body>
</html>