<%- include('../common/head.html', {title: '个人中心-参与项目-详情'}) %>
<!--selfCss start-->
<link rel="stylesheet" href="/style/css/userpro.css">
<!--selfCss end-->
</head>
<body>
<!--header start-->
<%- include('../common/uheader.html') %>
<!--header end-->

<div class="user-project-wrap min-width">
    <div class="user-crumbs clearfix">
        <div class="crumbs mt20 pull-right">
            <a href="/">房计划地产首页 </a> >
            <a href="/User">个人中心 </a> >
            <span>推荐客户 </span>
        </div>
    </div>

    <div id="project-container" class="user-project-container mt20">
        <div class="project-content clearfix">
            <div class="img pull-left"><img src="<%=servers.imgUrl%><%=data.project.cover%>" alt=""></div>

            <div class="content pull-right">
                <ul class="msg-list clearfix">
                    <li class="item">
                        <div class="tit">预计回报率</div>
                        <div class="con f40"><%=data.project.max_ratio%></div>
                    </li>
                    <li class="item">
                        <div class="tit ml30">项目总投资（元）</div>
                        <div class="con ml30"><%=data.project.max_amount%></div>
                    </li>
                    <li class="item">
                        <div class="tit ml30">预计回报期限（天）</div>
                        <div class="con ml30"><%=data.project.max_term%></div>
                    </li>
                </ul>
                <div class="user-hr mt30"></div>
                <ul class="msg-list2 clearfix">
                    <li class="item">
                        <div class="tit">地块位置</div>
                        <div class="con"><%=data.project.address%></div>
                    </li>
                    <li class="item">
                        <div class="tit">容积率</div>
                        <div class="con"><%=data.project.ratio%></div>
                    </li>
                    <li class="item">
                        <div class="tit">地块编号</div>
                        <div class="con"><%=data.project.land_code%></div>
                    </li>
                    <li class="item">
                        <div class="tit">绿化率</div>
                        <div class="con"><%=data.project.green%></div>
                    </li>
                    <li class="item">
                        <div class="tit">地块面积</div>
                        <div class="con"><%=data.project.land_area%> <span class="yellow">m<sup>2</sup></span></div>
                    </li>
                    <li class="item">
                        <div class="tit">建筑密度</div>
                        <div class="con"><%=data.project.built_density%></div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="project-tab" class="mt60">
            <%data.sellOneTitle.forEach(function(item){%>
            <div class="item <%if(item.sort==1){%> active <%}%>" data-pid="<%=item.id%>" data-proid="<%=item.project_id%>"><%=item.title%></div>
            <%})%>
        </div>

        <!--销售计划管理 start-->
        <div class="tab-box active">
            <div id="project-box" class="content"></div>
        </div>
        <!--销售计划管理 end-->
    </div>
</div>

<script src="/style/js/addons/layui/layui.js"></script>
<script>
    $(function () {
        /**tab切换**/
        $('#project-tab>.item').click(function () {
            var self = $(this);
            self.addClass('active').siblings('.item').removeClass('active');

            var params = {
                pid:self.data('pid'),
                project_id:self.data('proid'),
            };
            console.log(params);
            //tab_Ajax
            tab_Ajax(params);
        })
        $('#project-tab>.item').eq(0).trigger('click');


        layui.use('layer', function () {
            var layer = layui.layer;

            /** 提示层 ***/
            $('.tip').on('mouseover', function () {
                var self = $(this);
                modules.tips(self);
            }).on('mouseout', function () {
                layer.closeAll();
            })
        })

        /**
         * tab_Ajax Fun
         * **/
        function tab_Ajax(params) {
            var wrap=$('#project-box');
            var html = '';
            $.post('/Myproject/detail_post',params,function(res){
                console.log(res.data);
                if(res.code == 1){
                    res.data.forEach(function(item,index){
                        var table_title=''
                            ,table_body='';

                        item.three.forEach(function(item){
                            table_title+='<td>'+item.title+'</td>\n'
                        });

                        item.fore.forEach(function(i){
                            table_body+='<tr>';
                            item.three.forEach(function(n,k){
                                id=n.id+"-"+k;
                                if(i[id]){
                                    table_body+='<td>'+i[id].title+'</td>';
                                }else{
                                    table_body+='<td></td>';
                                }
                            });
                            table_body+='</tr>';
                        })

                        html +='                <div class="title mt50">' + item.title + '</div>\n' +
                            '<table class="project-table mt20">\n' +
                            '        <thead>\n' +
                            '             <tr>'+table_title+'</tr>\n' +
                            '        </thead>' +
                            '<tbody>' +table_body+'</tbody>'+
                            '</table>'
                    })

                    wrap.html(html);
                }
            })
        }
    })
</script>
</body>
</html>