<!DOCTYPE html>
<html lang="en">
<head>
    <%include ../common/head.html %>

    <!--selfCss start-->
    <link rel="stylesheet" href="/style/css/user.css">
    <!--selfCss end-->
</head>
<body>
<!--header start-->
<%include ../common/uheader.html %>
<!--header end-->

<div class="user-wrap min-width">
    <div class="user-crumbs clearfix">
        <div class="crumbs mt20 pull-right">
            <a href="#">房计划地产首页 </a> >
            <a href="#">个人中心 </a> >
            <span>推荐客户 </span>
        </div>
    </div>

    <div class="user-container mt20 clearfix">
        <!--menu-list start-->
        <%include ../common/usermenu.html %>
        <!--menu-list end-->

        <!--user-content start-->
        <div class="user-content pull-right">
            <div id="user-project" class="clearfix">
                <a class="project clearfix" href="/Myproject/detail">
                    <div class="img pull-left"><img src="/style/images/test/house.jpg" alt=""></div>

                    <div class="content pull-left">
                        <ul class="msg-list clearfix">
                            <li class="item w113">
                                <div class="tit">预计回报率</div>
                                <div class="con f40">40%</div>
                            </li>
                            <li class="item w252">
                                <div class="tit ml30">项目总投资（元）</div>
                                <div class="con ml30">2000,000,000.00</div>
                            </li>
                            <li class="item">
                                <div class="tit ml30">预计回报期限（天）</div>
                                <div class="con ml30">720</div>
                            </li>
                        </ul>
                        <div class="user-hr mt20"></div>
                        <ul class="msg-list2 clearfix">
                            <li class="item">
                                <div class="tit">地块位置</div>
                                <div class="con">邻水县西部新城三完小旁边</div>
                            </li>
                            <li class="item">
                                <div class="tit">容积率</div>
                                <div class="con">2.0</div>
                            </li>
                            <li class="item">
                                <div class="tit">地块编号</div>
                                <div class="con">A-05</div>
                            </li>
                            <li class="item">
                                <div class="tit">绿化率</div>
                                <div class="con">45%</div>
                            </li>
                            <li class="item">
                                <div class="tit">地块面积</div>
                                <div class="con">100000 <span class="yellow">m<sup>2</sup></span></div>
                            </li>
                            <li class="item">
                                <div class="tit">建筑密度</div>
                                <div class="con">55%</div>
                            </li>
                        </ul>
                    </div>
                </a>

                <a class="project clearfix" href="#">
                    <div class="img pull-left"><img src="/style/images/test/house.png" alt=""></div>

                    <div class="content pull-left">
                        <ul class="msg-list clearfix">
                            <li class="item w113">
                                <div class="tit">预计回报率</div>
                                <div class="con f40">40%</div>
                            </li>
                            <li class="item w252">
                                <div class="tit ml30">项目总投资（元）</div>
                                <div class="con ml30">2000,000,000.00</div>
                            </li>
                            <li class="item">
                                <div class="tit ml30">预计回报期限（天）</div>
                                <div class="con ml30">720</div>
                            </li>
                        </ul>
                        <div class="user-hr mt20"></div>
                        <ul class="msg-list2 clearfix">
                            <li class="item">
                                <div class="tit">地块位置</div>
                                <div class="con">邻水县西部新城三完小旁边</div>
                            </li>
                            <li class="item">
                                <div class="tit">容积率</div>
                                <div class="con">2.0</div>
                            </li>
                            <li class="item">
                                <div class="tit">地块编号</div>
                                <div class="con">A-05</div>
                            </li>
                            <li class="item">
                                <div class="tit">绿化率</div>
                                <div class="con">45%</div>
                            </li>
                            <li class="item">
                                <div class="tit">地块面积</div>
                                <div class="con">100000 <span class="yellow">m<sup>2</sup></span></div>
                            </li>
                            <li class="item">
                                <div class="tit">建筑密度</div>
                                <div class="con">55%</div>
                            </li>
                        </ul>
                    </div>
                </a>

                <div class="page-box mt60">
                    <div id="page"></div>
                </div>
            </div>
        </div>
        <!--user-content end-->
    </div>
</div>

<script src="/style/js/addons/layui/layui.js"></script>
<script>
    $(function(){

        /**分页**/
        layui.use('laypage', function(){
            var laypage = layui.laypage;

            laypage.render({
                elem: 'page'
                ,count: 60
                ,limit:4
                ,groups:10
                ,prev: '<em> < </em>'
                ,next: '<em> > </em>'
                ,theme: 'own'
                ,last: '尾页'
            });
        });
    })
</script>
</body>
</html>