<header class="header min-width">
    <div class="top-box">
        <div class="top clearfix">
            <%if(!is_login){%>
            <div class="before pull-right">
                <a href="/Public/login">登陆</a>
                <a href="/Public/reg">注册</a>
            </div>
            <%}else{%>
            <!--登陆后-->
            <div class="after pull-right">
                <div class="menu-box">
                    <span class="icon"></span>
                    <ul class="menu-list">
                        <li class="item">
                            <a href="/User" class="icon ico1">个人中心</a>
                        </li>
                        <li class="item">
                            <a href="/Public/exit" class="icon ico2">退出</a>
                        </li>
                    </ul>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    <div class="nav clearfix">
        <a href="/" class="pull-left">
            <img src="/style/images/public/logo2.png" alt="">
            <img class="ml60" src="/style/images/public/logo2_name.png" alt="">
        </a>

        <div class="menu pull-right">
            <a class="item <%if(menu == 'index'){%> active <%}%>" href="/">首页</a>
            <a class="item <%if(menu == 'pro'){%> active <%}%>" href="/Project">管理项目</a>
            <a class="item" href="#">关于我们</a>
        </div>
    </div>
</header>