<header class="header min-width">
    <div class="top-box">
        <div class="top clearfix">
            <!--登陆后-->
            <div class="after pull-right ">
                <div class="menu-box">
                    <span class="icon"></span>
                    <ul class="menu-list">
                        <li class="item">
                            <a href="/user" class="icon ico1">个人中心</a>
                        </li>
                        <li class="item">
                            <a href="/Public/exit" class="icon ico2">退出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav clearfix">
        <a href="/" class="pull-left">
            <img src="/style/images/public/logo2.png" alt="">
            <img class="ml60" src="/style/images/public/logo2_name.png" alt="">
        </a>
    </div>

</header>