<div class="user-menu  pull-left">
    <ul class="menu-list">
        <li class="item"><a class="link icon1 <%if(menu == 'index'){%> active <%}%>" href="/User">个人中心</a></li>
        <li class="item"><a class="link icon2 <%if(menu == 'pro'){%> active <%}%>" href="/Myproject">参与项目</a></li>
        <li class="item"><a class="link icon3 <%if(menu == 'msg'){%> active <%}%>" href="/User/message">个人资料</a></li>
        <li class="item"><a class="link icon4 <%if(menu == 'recom'){%> active <%}%>" href="/Invite">推荐客户</a></li>
    </ul>
</div>