<!DOCTYPE html>
<html lang="en">
<head>
    <%include ../common/head.html %>

    <!--selfCss start-->
    <link rel="stylesheet" href="/style/css/project.css">
    <!--selfCss end-->
</head>
<body>
<!--header start-->
<%include ../common/header.html %>
<!--header end-->

<div id="project-sign-sucess">
    <div class="crumbs mt40">
        <a href="/">房计划地产首页 </a> >
        <a href="/Project">管理项目 </a> >
        <a href="#">邻水县西部新城A-01地块 </a> >
        <span>意向报名 </span>
    </div>

    <h1 class="title"><img class="img" src="/style/images/icons/z_suc.png" alt=""><%=msg%></h1>
    <div class="border-line mt40"></div>
    <div class="f14 txt-center mt30"><span id="mes" class="yellow-light">3</span>秒后自动跳到个人参与项目页面</div>
    <a href="/Myproject" class="btn pro-link">立即跳转</a>
</div>

<!--footer start-->
<%include ../common/footer.html %>
<!--footer end-->
<script>
    $(function(){
        var i=3;
        var intervalid = setInterval(fun, 1000);

        function fun() {
            var url=$('.pro-link').attr('href');
            if (i == 0) {
                window.location.href = url;
                clearInterval(intervalid);
            }
            document.getElementById("mes").innerHTML = i;
            i--;
        }
    })
</script>
</body>
</html>