<!DOCTYPE html>
<html lang="en">
<head>
    <%include ../common/head.html %>

    <!--selfCss start-->
    <link rel="stylesheet" href="/style/css/form.css">
    <!--selfCss end-->
</head>
<body>
<div class="form-wrap">
    <a class="logo mt180" href="/"><img src="/style/images/public/logo.png" alt=""></a>

    <div class="form-box">
        <h1 class="title mt40"><img src="/style/images/public/logo2_name.png" alt=""></h1>

        <form class="form mt40" action="/Public/reg_post" id="regForm" method="post">
            <div class="input-group">
                <div>
                    <input class="icon-input phone required" name="phone" type="text" sucmsg=" " autocomplete="off"  placeholder="请输入手机号">
                </div>
                <span class="Validform_checktip suc"></span>
            </div>
            <div class="input-group mt20">
                <div>
                    <input class="icon-input pas  required" name="password" type="password" sucmsg=" " autocomplete="off" placeholder="请输入密码">
                </div>
                <span class="Validform_checktip suc"></span>
            </div>
            <div class="input-group mt20">
                <div>
                    <input class="icon-input pas required" name="repassword" type="password" sucmsg=" " autocomplete="off" placeholder="请输入密码">
                </div>
                <span class="Validform_checktip suc"></span>
            </div>

            <div class="input-group mt20">
                <div class="clearfix">
                    <input class="input w189 pull-left required" name="code" type="text" datatype="*" sucmsg=" " autocomplete="off" placeholder="请输入验证码">
                    <a href="javascript:void(0);"  id="send" class="btn-code pull-right" type="button">发送验证码</a>
                </div>
                <span class="Validform_checktip"></span>
            </div>

            <div class="rule-box clearfix mt20">
                <label class="check-label">
                    <input id="rule" class="check-input" datatype="*" sucmsg=" " type="checkbox" name="rule" checked>
                    <div class="check clearfix">
                        <span class="arc pull-left"></span>
                        <span class="yellow pull-left">我已同意xxx协议</span>
                    </div>
                </label>
                <span class="Validform_checktip suc"></span>
            </div>

            <input id="register" type="submit" class="btn-submit mt30" value="注册">
        </form>
    </div>
</div>

<!--footer start-->
<%include ../common/footer.html %>
<!--footer end-->

<script src="/style/js/addons/layui/layui.js"></script>
<script src="/style/js/addons/Validform_v5.3.2_min.js"></script>
<script>
    $(function(){
        layui.use('layer',function(){
            var layer = layui.layer;
            /**表单验证**/
            var form = $("#regForm").Validform({
                tiptype: 2,
                label: ".label",
                showAllError: true,
            });
            form.addRule([{
                ele: ".required:eq(0)",
                datatype: "m",
                errormsg:'手机号格式不正确！'
            },
                {
                    ele: ".required:eq(1)",
                    datatype: "*6-16"
                },
                {
                    ele: ".required:eq(2)",
                    datatype: "*",
                    recheck:'password',
                    errormsg:'两次输入密码不一致'
                }
            ]);

            /**短信验证码**/
            $('#send').click(function(){
                var self=$(this);
                var phone=$('input[name="phone"]').val();

                if(phone==''){
                    layer.alert('请输入手机号码');
                    return;
                }else if(!modules.is_mobile(phone)){
                    layer.alert('手机号码格式不正确！');
                    return;
                }
                modules.countDown(60);
                /**ajax**/
                $.ajax({
                    type: "POST",
                    url: "/Public/sendVerify",
                    data: {phone:phone,type:1},
                    dataType: "json",
                    success: function(data){

                    }
                });
            })
        })
    })
</script>
</body>
</html>